@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100;400;700&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

/* Home */

@font-face {
  font-family: Cocogoose;
  src: url(../fonts/Ñocogoose-regular.otf);
}

@font-face {
  font-family: Cocogoose-light;
  src: url(../fonts/cocogoose-light.ttf);
}

/* Header */

.desktop {
  display: none;
}

.nav-desktop {
  display: none;
}

.body-noScroll {
  overflow: hidden;
}

.invisible {
  visibility: hidden;
}

#nav-menu {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 14px 32px 14px 24px;
  font-size: larger;
}

.nav-list {
  display: none;
}

#id-for-js {
  display: none;
}

.mobile-menu-div {
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 0;
  background-color: rgba(194, 194, 197, 0.65);
  position: fixed;
  width: 100%;
  padding: 15% 0;
}

.mobile-list {
  list-style: none;
}

.mobile-menu-div a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;
  color: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0 0 18px 25px;
}

.mobile-menu-close {
  height: 17px;
  width: 17px;
  padding: 0 0 56px 85%;
}

.mobile-menu-close-icon {
  width: 17px;
}

/* Main */

/* Section - Welcome */

.link {
  text-decoration: none;
}

.link::after {
  color: #ec5242;
}

.welcome {
  background-image: url(../images/grey-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.w-div {
  padding: 0 0.5rem;
  background-color: rgba(211, 211, 211, 0.8);
}

.w-paragraph {
  color: #ec5242;
  font: 400 1rem Lato, sans-serif;
  padding: 3rem 0 0.8rem;
}

.w-h1 {
  color: #ec5242;
  font: lighter 2rem/90% Cocogoose, sans-serif;
  width: 90%;
  background-image: url(../images/bokeh-1123787__340.webp);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.w-description {
  color: #272a31;
  font: 0.8rem Lato, sans-serif;
  border: 0.2rem solid rgba(211, 211, 211, 0.5);
  margin: 1rem 0;
  padding: 1rem;
}

.w-dates {
  font: normal 1.5rem/90% Cocogoose, sans-serif;
  color: #272a31;
}

.w-places {
  font: normal 0.9rem/90% Lato, sans-serif;
  color: #272a31;
  padding: 1rem 0 5rem 0;
}

/* Section - Program */

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  color: #d3d3d3;
}

.program > h1 {
  font: normal 0.9rem/90% Lato, sans-serif;
}

.p-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.p-container > h1 {
  font: bold 1rem Lato, sans-serif;
  padding: 1.5rem 0 0.5rem 0;
}

.divider {
  width: 10%;
  height: 1px;
  background-color: #ec5242;
  margin-bottom: 1rem;
}

.p-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-card {
  display: flex;
  align-items: center;
  margin: 0.2rem;
  background-color: rgba(201, 201, 201, 0.1);
  padding: 0.2rem;
  height: 5rem;
  width: 100%;
}

.p-icon {
  width: 15%;
}

.p-icon > i {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  color: #d3d3d3;
  font-size: 20px;
  text-shadow: 0.5px 0.5px #ec5242;
}

.p-card > h2 {
  color: #ec5242;
  font: bold 0.8rem Lato, sans-serif;
  width: 25%;
}

.p-card > p {
  font: normal 0.8rem Lato, sans-serif;
  width: 60%;
}

.join {
  background: #ec5242;
  margin: 2rem 0 2rem 0;
  padding: 1.5rem;
  width: 80%;
}

.j-span {
  display: flex;
  justify-content: center;
  font: bold 0.8rem Lato, sans-serif;
}

.anchor-see {
  display: none;
}

.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 5%;
}

.sp-heading {
  padding: 2rem 1rem 0.5rem 1rem;
  font: bold 1.2rem Lato, sans-serif;
}

.sp-divider {
  width: 10%;
  height: 1px;
  background-color: #ec5242;
  margin-bottom: 1rem;
}

.sp-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 30px;
}

.sp-images {
  position: relative;
  justify-content: start;
  padding: 0 10px 0 0;
  width: 35%;
}

.sp-image {
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 16px -36px;
}

.sp-image-bg {
  width: 50px;
  height: 50px;
  z-index: -1;
}

.sp-details {
  width: 75%;
  height: 100%;
  padding: 5px 0 0 10px;
}

.sp-name {
  font: bold 1rem Lato, sans-serif;
  line-height: 1.5rem;
}

.sp-job {
  font: normal italic 0.7rem Lato, sans-serif;
  color: #ec5242;
  line-height: 1rem;
}

.sp-divider-grey {
  width: 15px;
  height: 2px;
  background-color: rgba(211, 211, 211, 0.9);
  margin: 0.3rem 0;
}

.sp-text {
  font: normal 0.6rem Lato, sans-serif;
  color: #272a31;
}

/* -------------------- About page -------------------- */

.a-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: none;
  background-color: #d3d3d3;
}

.a-description {
  color: #272a31;
  font: 0.8rem Lato, sans-serif;
  border: 1px solid rgba(211, 211, 211, 0.5);
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: white;
  text-align: center;
  line-height: 1.3rem;
}

.a-h1 {
  text-align: center;
  color: #ec5242;
  font: lighter 2rem/90% Cocogoose, sans-serif;
  width: 90%;
}

.a-contact-us {
  width: 100%;
  color: #272a31;
  font: 0.8rem Lato, sans-serif;
  padding: 0.5rem;
  text-align: center;
}

#email {
  margin: 10px 0 0 0;
  color: #272a31;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 0 0 2rem;
}

.a-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.a-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-div-white {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.a-h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: #272a31;
  padding: 10px;
  line-height: 1.8rem;
}

.a-divider {
  width: 6%;
  height: 2px;
  background-color: #ec5242;
  margin: 0 0 20px 0;
}

.a-logo-info {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  padding: 0 0 1rem;
}

.a-logo-div {
  display: flex;
  justify-content: center;
  border: 2px solid rgba(211, 211, 211, 0.5);
  width: 90%;
  margin: 0 0 2rem 0;
}

.a-logo-image {
  width: 60%;
  padding: 20px 20px;
}

.a-history {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 2px solid rgba(211, 211, 211, 0.5);
}

.a-history-h3 {
  margin: 2rem 0 1rem;
}

.a-history-divider {
  width: 5%;
  height: 1px;
  background-color: #ec5242;
  margin-bottom: 1rem;
}

.a-history-text {
  padding: 1rem;
}

.a-past {
  display: flex;
  flex-direction: column;
}

.a-past-1 {
  background-image: url(../images/edouard_dubufe_congres_de_paris.webp);
  margin: 5px 20px;
  background-size: 100%;
}

.a-past-blur {
  background-color: rgba(236, 82, 66, 0.7);
  padding: 70px;
  font-family: 'Lato', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.a-past-2 {
  background-image: url(../images/pilgrimage-crop.jpg);
  margin: 5px 20px 20px;
  background-size: 100%;
}

.a-partners {
  background-color: #424347;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-partners h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: white;
  padding: 20px 0 10px;
  font-size: 1rem;
}

.a-partners-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 20px;
}

.a-li {
  padding: 10px;
  list-style: none;
}

#godzilla {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
  color: rgba(211, 211, 211, 0.5);
  font-size: 1.5rem;
  font-weight: bold;
}

#doodle {
  font-family: 'Outfit', sans-serif;
  color: rgba(211, 211, 211, 0.5);
  font-size: 1.2rem;
}

#waver {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(211, 211, 211, 0.5);
  font-size: 1.2rem;
  font-weight: 1000;
}

#wowkakao {
  font-family: 'Lato', sans-serif;
  color: rgba(211, 211, 211, 0.5);
}

#airbaloon {
  font-family: 'Poppins', sans-serif;
  color: rgba(211, 211, 211, 0.5);
}

.footer {
  display: flex;
  padding: 10px 0 20px;
}

.footer-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 50%;
}

.footer-image {
  width: 60%;
}

.footer-text {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  #nav-menu {
    display: none;
  }

  .nav-desktop {
    display: block;
  }

  .nav-black {
    align-items: center;
    background: #272a31;
    color: #d3d3d3;
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 5px 10% 5px 0;
  }

  .nav-black li {
    padding-left: 15px;
    font: normal 16px Lato, sans-serif;
  }

  .nav-grey {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 80%;
    margin: 0 10%;
  }

  .nav-grey img {
    width: 5.8rem;
    height: 3rem;
    padding: 5px 0 5px 15px;
  }

  .nav-grey ul {
    align-items: center;
    display: flex;
    font: normal 0.7rem Lato, sans-serif;
    justify-content: space-between;
    list-style: none;
    width: 70%;
  }

  .nav-grey ul li {
    display: flex;
    justify-content: space-between;
  }

  .div-orange {
    border: #ec5242;
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    color: #ec5242;
  }

  .w-div {
    padding: 5rem 10%;
  }

  .w-paragraph {
    font: 400 2rem Lato, sans-serif;
  }

  .w-h1 {
    font-size: 5rem;
    width: 50rem;
    line-height: 5.3rem;
  }

  .w-description {
    font: normal 1rem Lato, sans-serif;
    width: 30rem;
  }

  .w-dates {
    font: bold 2rem Cocogoose, sans-serif;
  }

  .p-container h1 {
    padding: 50px 0 20px;
    font-size: 35px;
  }

  .divider {
    width: 5%;
    margin: 0 0 50px;
  }

  .p-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 80%;
  }

  .p-card {
    display: flex;
    flex-direction: column;
    height: 200px;
  }

  .p-icon i {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    font-size: 40px;
  }

  .p-card h2 {
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  .p-card > p {
    font-size: 0.7rem;
    width: 90%;
    padding: 0 0 20px;
  }

  .anchor-see {
    display: flex;
    color: white;
    padding: 60px 0 100px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

  .speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 10%;
  }

  .sp-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
  }

  .sp-card {
    width: 50%;
    padding-bottom: 50px;
  }

  .sp-images {
    width: 40%;
  }

  .sp-details {
    width: 60%;
    padding: 10px 10px 0 10px;
  }

  .a-h1 {
    width: 60%;
    font-size: 2.5rem;
    padding: 0 0 2rem;
  }

  .a-description {
    width: 80%;
  }

  .a-span {
    display: inline;
  }

  .a-h2-d {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #272a31;
    padding: 5rem 0 1rem;
    line-height: 1.8rem;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .a-logo-info {
    font-size: 1.1rem;
    width: 60%;
  }

  .a-logo-div {
    width: 35%;
    margin: 2rem;
  }

  .a-logo-image {
    width: 60%;
    padding: 1rem 0;
  }

  .a-history {
    margin: 0 0 5rem;
  }

  .a-history-h3 {
    font-size: 1.5rem;
  }

  .a-history-text {
    padding: 0 0 3rem;
  }

  .a-past {
    flex-direction: row;
  }

  .a-past-2 {
    margin: 5px 20px;
  }

  .a-past-blur {
    width: 350px;
  }

  .a-partners h2 {
    color: rgba(211, 211, 211, 0.5);
    font-size: 2rem;
    padding: 3rem 0 2rem;
  }

  .a-partners-list {
    padding: 0 0 2.5rem;
  }

  #godzilla {
    font-size: 2.5rem;
  }

  #doodle {
    font-size: 2.5rem;
  }

  #waver {
    font-size: 2.5rem;
  }

  #wowkakao {
    font-size: 2.5rem;
  }

  #airbaloon {
    font-size: 2.5rem;
  }

  .a-footer {
    background-color: rgba(46, 46, 46, 255);
    display: flex;
    padding: 20px 0 20px;
  }

  .footer-image-div {
    width: 40%;
    justify-content: flex-end;
    padding: 2rem;
  }

  .footer-text {
    font-size: 1rem;
    color: #d3d3d3;
  }
}
